body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    main {
      padding: 20px;
    }

    .noticia-completa {
      background-color: white;
      max-width: 800px;
      margin: 30px auto;
      padding: 20px;
      border-left: 5px solid #004d99;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

    .noticia-completa h2 {
      color: rgb(0, 0, 0);
      padding: 12px 16px;
      margin-bottom: 20px;
      font-size: 1.6em;
      border-radius: 8px 8px 0 0;
      text-align: center;
    }

    .noticia-completa img {
      display: block;
      margin: 0 auto 20px auto;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }

    .noticia-completa p {
      font-size: 1em;
      line-height: 1.6;
      margin-bottom: 15px;
      color: #333;
    }

    .noticia-completa .data {
      display: block;
      text-align: right;
      font-size: 0.9em;
      color: gray;
      margin-top: 20px;
    }


.botao-seta {
  display: block;
  width: 40px;
  height: 40px;
  margin: 40px auto;
  background-color: #070069; /* azul médio */
  border-radius: 8px;
  position: relative;
  text-decoration: none;
}

.botao-seta::before {
  content: '↩';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: white;
}


.botao-compartilhar {
  display: block;
  margin: 30px auto;
  padding: 12px 20px;
  background-color: #070069;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-compartilhar:hover {
  background-color: #0a0a8f;
}

.noticia-compartilhada {
  display: none;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.noticia-compartilhada h3 {
  margin-top: 0;
}

.noticia-compartilhada a {
  display: inline-block;
  margin-top: 10px;
  color: #070069;
  font-weight: bold;
  text-decoration: none;
}
